.inp-field {
    -fx-padding: 6px;
    -fx-border-style: none;
    -fx-background-radius: 6px;
}

.custom-button {
    -fx-background-color: #793333;
    -fx-background-radius: 24px;
    -fx-text-fill: white;
    -fx-cursor: hand; /* JavaFX uses "hand" instead of CSS's "pointer" */
}

.custom-button:hover {
    -fx-background-color: #9a5252; /* Lighter/darker shade for hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.2, 0, 1); /* Optional subtle shadow */
}

.dialog-pane {
    -fx-background-color: #fefefe;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.dialog-pane .header-panel {
    -fx-background-color: #793333;
}

.dialog-pane .header-panel .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
    -fx-alignment: center;
}

.dialog-pane .content {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-text-alignment: center;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: #c9302c;
}

.dashboard {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.navpane {
    -fx-background-color: rgba(154, 82, 82, 0.3);
}

.navbtn {
    -fx-max-width: 100px;
    -fx-background-color: #793333;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.navbtn:hover {
    -fx-background-color: #9a5252; /* Lighter/darker shade for hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.2, 0, 1);
}

.pane {
    /*-fx-background-color: rgba(82, 86, 154, 0.4);*/
    -fx-background-color: #FFFFFF;
}

.profile-pic {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 15, 0.4, 0, 4);
    -fx-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.profile-pic:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(71, 118, 230, 0.4), 20, 0.5, 0, 6);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.profile-pic:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0.3, 0, 2);
    -fx-translate-y: 1px;
}